Repository S0ulf3re/toonkey, changes with the labels that .github/labeler.yml gives for each.
All labels: ⚙️Server, 🖥️Client, 🧪Test, ‼️ wrong locales

.github/labeler.yml:

'⚙️Server':
- packages/backend/**/*

'🖥️Client':
- packages/client/**/*

'🧪Test':
- cypress/**/*
- packages/backend/test/**/*

'‼️ wrong locales':
- any: ['locales/*.yml', '!locales/ja-JP.yml']

Update packages/backend/src/server/web/feed.ts
  packages/backend/src/server/web/feed.ts
Labels: ⚙️Server

Renote and reply option for feed
  packages/backend/src/server/web/feed.ts
  packages/backend/src/server/web/index.ts
Labels: ⚙️Server

fix 0 case
  packages/backend/src/server/web/index.ts
Labels: ⚙️Server

searchCriteria to const
  packages/backend/src/server/web/feed.ts
Labels: ⚙️Server

wip
  locales/ja-JP.yml
  packages/client/src/pages/settings/index.vue
  packages/client/src/pages/settings/statusbars.statusbar.vue
  packages/client/src/pages/settings/statusbars.vue
  packages/client/src/store.ts
  packages/client/src/ui/_common_/statusbar-rss.vue
  packages/client/src/ui/_common_/statusbars.vue
  packages/client/src/ui/universal.vue
Labels: 🖥️Client

wip
  packages/client/src/pages/settings/statusbars.statusbar.vue
  packages/client/src/pages/settings/statusbars.vue
  packages/client/src/ui/_common_/statusbar-rss.vue
  packages/client/src/ui/deck.vue
Labels: 🖥️Client

wip
  locales/ja-JP.yml
  packages/client/src/pages/settings/index.vue
  packages/client/src/pages/settings/statusbars.statusbar.vue
  packages/client/src/pages/settings/statusbars.vue
  packages/client/src/ui/_common_/statusbar-rss.vue
  packages/client/src/ui/_common_/statusbars.vue
  packages/client/src/ui/universal.vue
Labels: 🖥️Client

wip
  packages/client/src/pages/settings/statusbars.statusbar.vue
  packages/client/src/pages/settings/statusbars.vue
  packages/client/src/store.ts
  packages/client/src/ui/_common_/statusbar-federation.vue
  packages/client/src/ui/_common_/statusbar-user-list.vue
  packages/client/src/ui/_common_/statusbars.vue
Labels: 🖥️Client

wip
  packages/client/src/components/global/sticky-container.vue
  packages/client/src/pages/settings/statusbars.statusbar.vue
  packages/client/src/pages/settings/statusbars.vue
  packages/client/src/ui/_common_/statusbar-federation.vue
  packages/client/src/ui/_common_/statusbar-rss.vue
  packages/client/src/ui/_common_/statusbars.vue
Labels: 🖥️Client

Making some quick changes
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  package.json
  packages/backend/assets/instance.css
  packages/backend/package.json
  yarn.lock
Labels: ⚙️Server

adding in blank toggle option for feature
  packages/client/src/pages/settings/general.vue
  packages/client/src/store.ts
Labels: 🖥️Client

adding in the animation change to every vuejs file. Also fixed bug of accidentally negating the toggle
  packages/client/src/account.ts
  packages/client/src/pages/settings/general.vue
  packages/client/src/store.ts
  packages/client/src/ui/_common_/navbar.vue
  packages/client/src/ui/classic.header.vue
  packages/client/src/ui/classic.sidebar.vue
  packages/client/src/ui/deck.vue
  packages/client/src/ui/universal.vue
Labels: 🖥️Client

changed indicator animation back to infinite. The option now successfully affects the notifications indicator on the mobile tab bar
  packages/client/src/ui/universal.vue
Labels: 🖥️Client

Update README.md
  README.md
Labels: none

commiting dependencies or something idk
  package.json
  yarn.lock
Labels: none

updating yarn
  package.json
  yarn.lock
Labels: none

commenting out script in init and adding in button to check for notifications
  packages/client/src/init.ts
  packages/client/src/pages/settings/notifications.vue
Labels: 🖥️Client

adding in prompt and button. Also figured out the difference between notifications api and push api
  packages/client/src/init.ts
  packages/client/src/pages/settings/notifications.vue
Labels: 🖥️Client

writing first drafts of tooltips
  locales/en-US.yml
Labels: ‼️ wrong locales

implimented an optional Pagination property for specifying a localization string
  packages/client/src/components/MkPagination.vue
  packages/client/src/pages/my-antennas/index.vue
Labels: 🖥️Client

Adding messages for Antennas, Clips, Groups, and Lists
  packages/client/src/pages/gallery/index.vue
  packages/client/src/pages/my-antennas/index.vue
  packages/client/src/pages/my-clips/index.vue
  packages/client/src/pages/my-groups/index.vue
  packages/client/src/pages/my-lists/index.vue
Labels: 🖥️Client

writing first drafts of tooltips
  locales/en-US.yml
Labels: ‼️ wrong locales

Adding messages for Antennas, Clips, Groups, and Lists
  packages/client/src/pages/gallery/index.vue
  packages/client/src/pages/my-antennas/index.vue
  packages/client/src/pages/my-clips/index.vue
  packages/client/src/pages/my-groups/index.vue
  packages/client/src/pages/my-lists/index.vue
Labels: 🖥️Client

implimented an optional Pagination property for specifying a localization string
  packages/client/src/components/MkPagination.vue
  packages/client/src/pages/my-antennas/index.vue
Labels: 🖥️Client

Adding messages for channels.vue
  locales/en-US.yml
  packages/client/src/pages/channels.vue
Labels: 🖥️Client, ‼️ wrong locales

started work on icon path prop
  packages/client/src/components/MkEmptyIcon.vue
  packages/client/src/components/MkPagination.vue
  packages/client/src/emptyIcons.ts
Labels: 🖥️Client

updating fallback for context
  packages/client/src/emptyIcons.ts
Labels: 🖥️Client

removing useless vue component i made because it probably isnt useful
  packages/client/src/components/MkEmptyIcon.vue
  packages/client/src/components/MkPagination.vue
Labels: 🖥️Client

mmrowoworow (yarn)
  yarn.lock
Labels: none

Adding finishing touches
  packages/client/src/components/MkPagination.vue
  packages/client/src/emptyIcons.ts
Labels: 🖥️Client

Adding in some extra parts + Tango + KDE Icons as placeholders to help demonstrate
  locales/en-US.yml
  packages/backend/assets/badges/EmptyIcons/antenna.png
  packages/backend/assets/badges/EmptyIcons/channels-alt.png
  packages/backend/assets/badges/EmptyIcons/channels.png
  packages/backend/assets/badges/EmptyIcons/chat.png
  packages/backend/assets/badges/EmptyIcons/clip.png
  packages/backend/assets/badges/EmptyIcons/drive.png
  packages/backend/assets/badges/EmptyIcons/favorite.png
  packages/backend/assets/badges/EmptyIcons/federation.png
  packages/backend/assets/badges/EmptyIcons/follow.png
  packages/backend/assets/badges/EmptyIcons/forbidden.png
  packages/backend/assets/badges/EmptyIcons/gallery.png
  packages/backend/assets/badges/EmptyIcons/group.png
  packages/backend/assets/badges/EmptyIcons/groupInvite.png
  packages/backend/assets/badges/EmptyIcons/list.png
  packages/backend/assets/badges/EmptyIcons/mention.png
  packages/backend/assets/badges/EmptyIcons/note.png
  packages/backend/assets/badges/EmptyIcons/notification.svg
  packages/backend/assets/badges/EmptyIcons/pages.png
  packages/backend/assets/badges/EmptyIcons/popular.png
  packages/backend/assets/badges/EmptyIcons/recent.png
  packages/backend/assets/badges/EmptyIcons/unread.png
  packages/backend/assets/instance.css
  packages/client/src/components/MkPagination.vue
  packages/client/src/emptyIcons.ts
  packages/client/src/pages/admin/emojis.vue
  packages/client/src/pages/announcements.vue
  packages/client/src/pages/gallery/index.vue
  packages/client/src/pages/my-antennas/index.vue
  packages/client/src/pages/my-clips/index.vue
  packages/client/src/pages/my-groups/index.vue
  packages/client/src/pages/my-lists/index.vue
Labels: ⚙️Server, 🖥️Client, ‼️ wrong locales

adding pages
  locales/en-US.yml
  packages/client/src/pages/pages.vue
Labels: 🖥️Client, ‼️ wrong locales

Removing proposed changes. Replacing system with Vue component.
  locales/en-US.yml
  packages/backend/assets/badges/EmptyIcons/antenna.png
  packages/backend/assets/badges/EmptyIcons/channels-alt.png
  packages/backend/assets/badges/EmptyIcons/channels.png
  packages/backend/assets/badges/EmptyIcons/chat.png
  packages/backend/assets/badges/EmptyIcons/clip.png
  packages/backend/assets/badges/EmptyIcons/drive.png
  packages/backend/assets/badges/EmptyIcons/favorite.png
  packages/backend/assets/badges/EmptyIcons/federation.png
  packages/backend/assets/badges/EmptyIcons/follow.png
  packages/backend/assets/badges/EmptyIcons/forbidden.png
  packages/backend/assets/badges/EmptyIcons/gallery.png
  packages/backend/assets/badges/EmptyIcons/group.png
  packages/backend/assets/badges/EmptyIcons/groupInvite.png
  packages/backend/assets/badges/EmptyIcons/list.png
  packages/backend/assets/badges/EmptyIcons/mention.png
  packages/backend/assets/badges/EmptyIcons/note.png
  packages/backend/assets/badges/EmptyIcons/notification.svg
  packages/backend/assets/badges/EmptyIcons/pages.png
  packages/backend/assets/badges/EmptyIcons/popular.png
  packages/backend/assets/badges/EmptyIcons/recent.png
  packages/backend/assets/badges/EmptyIcons/unread.png
  packages/client/src/components/MkEmptyIcon.vue
  packages/client/src/components/MkPagination.vue
  packages/client/src/emptyIcons.ts
  packages/client/src/pages/channels.vue
  packages/client/src/pages/favorites.vue
  packages/client/src/pages/gallery/index.vue
  packages/client/src/pages/messaging/index.vue
  packages/client/src/pages/my-antennas/index.vue
  packages/client/src/pages/my-clips/index.vue
  packages/client/src/pages/my-groups/index.vue
  packages/client/src/pages/my-lists/index.vue
  packages/client/src/pages/pages.vue
Labels: ⚙️Server, 🖥️Client, ‼️ wrong locales

Refactoring the tooltip into MkEmptyIcon
  packages/client/src/components/MkEmptyIcon.vue
  packages/client/src/components/MkPagination.vue
Labels: 🖥️Client

removing useless comment
  packages/client/src/components/MkPagination.vue
Labels: 🖥️Client

documenting problem with favorites.vue for s0ulf3re/empty-page-tooltips-second-attempt
  packages/client/src/pages/favorites.vue
Labels: 🖥️Client

Updating Yarn because i had to reset the repo because im an idiot
  .yarnrc.yml
  yarn.lock
Labels: none

updating yarn
  .yarn/releases/yarn-3.2.3.cjs
  yarn.lock
Labels: none
